body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: lightyellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.menu-container {
    background-color: #333;
    padding: 10px;
    display: flex;
    position: relative;
}

.menu-icon {
    font-size: 1.5rem;
    cursor: pointer;
    color: white;
    margin-right: 10px;
    margin-top: 9px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #e0e0e0;
}

/* Dropdown styles */
.dropdown {
    position: relative;
    
}

.dropbtn {
    cursor: pointer;
}

.dropdown-content {

    display: none;
    position: absolute;
    background-color: transparent;
    z-index: 1;
    
}

.dropdown-content a {
    padding: 10px 0;
    color: white;
    text-decoration: none;
    display: block;
    transition: 1s ease-in-out;
    border: none;
}

.dropdown-content a:hover{
color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

section {
    padding: 20px;
}

h2 {
    color: #333;
}

.title {
font-size: 50px;
margin-top: 20px;
margin-left: 50px;
display: flex;
}


.about {
    background-color: green;
    height: 400px;
    position: center;
    margin: 30px;
    font-size: 25px;
    color: transparent;
    transition: color 0.9s;
    mix-blend-mode: difference;

}

.about:hover {
    color: black;
}

.social-media a{
   margin: 0 10px;
   font-size: 25px;
}



.social-media {
    margin: 0 10px;
    position: absolute;
    right: 5px;
    top: 25px
}


header img {
    width: 100px;
    height: 100px;
    border-radius: 45%;
}

.footer{

    width: auto;
    background-color: rgb(228, 221, 212);
    bottom: 0;
}